<div class="main">
  <div class="calendar">
    <ng-container *ngFor="let row of grids; let i = index">
      <ng-container *ngFor="let grid of row; let j = index;">
        <div [ngClass]="['calendar-item-' + (i*8+j)]">
          {{grid}}
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- TODO: Abstract into separate component -->
  <!-- Flexbox for days, days contain 7 day flexboxes, each day has >=1 track(s), each track has >=1 session(s) -->
  <div class="time-select">
    <ng-container *ngFor="let time of times; let i = index">
      <div (click)="handleTimeClick(i)" 
        [ngClass]="['time-' + i]"
        [style.background-color]="highlightCell(i)">
      </div>
    </ng-container>
  </div>

  <!-- TODO: Abstract into separate component -->
  <!-- Modal for adding session -->
  <div *ngIf="isAddSessionModalOpen" class="add-session">
    <div class="add-session-background">
    </div>
    <div class="add-session-modal">
      <div class="add-session-modal-close">
        <div (click)="closeAddSessionModal()" class="add-session-modal-close-button">
          x
        </div>
      </div>
      <div class="add-session-modal-selected-time">
        Selected Time: {{stringTimes[selectedTime[0]]}} to {{stringTimes[selectedTime[1]]}}
      </div>
      <div class="add-session-modal-choose-day">
        Choose Day: 
        <select [(ngModel)]="selectedDay" name="days" id="days">
          <option *ngFor="let day of stringDays; let i = index"
           [value]="i">
           {{day}}
          </option>
        </select>
      </div>
      <div class="class">
        Message:
        <input [(ngModel)]="message"/>
      </div>
      <div class="add-session-modal-submit">
        <button (click)="addSession()" class="add-session-modal-submit-button">
          Submit
        </button>
      </div>
    </div>
  </div>
  
  <!-- TODO: Abstract into separate component -->
  <!-- Flexbox for days, days contain 7 day flexboxes, each day has >=1 track(s), each track has >=1 session(s) -->
  <div class="days">
    <ng-container *ngFor="let day of days; let i = index">
      <div [ngClass]="['day-' + i]" [ngStyle]="{'width.%': 100 / days.length}">
        <ng-container *ngFor="let track of day; let j = index">
          <div [ngClass]="['track-' + j]">
            <ng-container *ngFor="let session of track; let k = index">
              <div [ngClass]="['session']" *ngIf="isValidSession(session)" 
                [style.width] = "'calc((100% - 100px)/' + days.length*day.length + ')'"
                [style.top] = "'calc(100px + ((100vh - 100px)/' + track.length + '*' + session.startTime +'))'"
                [style.height] = "'calc((100vh - 100px)/' + track.length/session.length +')'"
                [style.background-color] = "session.color">
                <div class="session-message">{{session.message}}</div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
